my-adf-project/pipeline/on_prem_migrate.json
{
	"name": "on_prem_migrate",
	"properties": {
		"activities": [
			{
				"name": "Get_Metadata_fileSystem",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "FileSystem_data",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach_FileSystem_files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_Metadata_fileSystem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Metadata_fileSystem').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "cp_data_on-prem_to_gen2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "order_details_id",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "order_details_id",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "order_id",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "order_id",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "pizza_id",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "pizza_id",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "quantity",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "quantity",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "on_prem_ip",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "onprem_op",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-11-12T08:46:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}